body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 29%, rgba(237, 221, 83, 1) 100%);
    
  }

.login-page {
    height: 50vh;
    width: 30%;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

h1 {
  margin-top: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  gap: 20px;
  align-items: center;
}

input {
  border: none;
  outline: none;
  width: 80%;
  height: 20px;
  border-radius: 5px;
  padding: 5%;
}

input:focus {
  border: 1px solid black;
}

span {
  position: relative;
  left: 34%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

span:hover {
  background-color: #f0f0f0;
  color: black;
}

.sign-button {
  width: 80%;
  height: 10%;
  background-color: aquamarine;
  margin-top: 10%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.icons {
  margin-top: 20%;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  cursor: pointer;
}

.signup {
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}